{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <div class="jumbotron text-center">
<h3>Add your name, phone number and email.</h3>
<br>
  <form class="form-inline" action="/submit_new_entry" method="POST">
    <div class = "form-group">
      <label class="sr-only" for="name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="John Doe">
    </div>

    <div class = "form-group">
      <label class="sr-only" for="phone_number">Phone</label>
      <input type="text" class="form-control" name="phone_number" placeholder="(123) 456-7890">
    </div>

    <div class = "form-group">
      <label class="sr-only" for="email">Email</label>
      <input type="text" class="form-control" name="email" placeholder="john@doe.com">
    </div>
    <button type="submit" class="btn btn-primary">Add Entry</button>

  </form>
</div>
</div>
{% endblock %}
