{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron radio">
<form class="form-inline" action="/submit_update_entry" method="POST">
<table width="100" class="table table-striped">
  <thead>
    <tr>

      <th style="text-align:center">Name</th>
      <th style="text-align:center">Phone</th>
      <th style="text-align:center">Email</th>
    </tr>
</thead>
<tbody>


{% for contact in contacts %}
<div class = "form-group">
<tr>
  <td style="text-align:center"><a href="http://127.0.0.1:5000/update_entry?id={{contact.id}}">{{contact.name}}</a></td>
  <td style="text-align:center">{{contact.phone_number}}</td>
  <td style="text-align:center">{{contact.email}}</td>
</tr>
</div>
{% endfor %}

</tbody>
</table>

</form>
</div>
</div>
{% endblock %}
